<!DOCTYPE html>
<html>
<head>
  <title>Test homepage</title>
</head>
<body>
  <link rel="stylesheet" href='css/main.css'> 
  <div class="container">
    <header></header>
    <main>
      <div class="slogan">
        <h1 class="slogan-text">
          Conservation: Our Duty, Their Future.
        </h1>
      </div>
    </main>
    <footer></footer>
  </div>
  
</body>
</html>